@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;1,200&family=Ubuntu:wght@400;700&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    text-decoration: none;

}
.maxwidth{
    max-width: 1300px;
    padding: 0 80;
    justify-content: space-between;
}

.navbar{
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 15px 0;
    background:rgb(137, 161, 197); 
    font-family: "Ubuntu", sans-serif;
}
.navbar .maxwidth{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    color:rgb(0, 0, 0);
    font-size: 28px;
    font-weight:600;
}
.navbar .menu li{
    list-style: none;
    display: inline-block; 
}
.navbar .menu li a{
    color:rgb(0, 0, 0);
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.7s ease;
}
.navbar .menu li a:hover{
    color:rgb(255, 255, 255);
}

/* home section styling */
.home{
    display: flex;
    background: url("./assets/clouds1.jpg") no-repeat center;
    background-size: cover;
    height: 100vh;
    color:rgb(0, 0, 0);
    min-height: 500px;
    font-family: "Ubuntu", sans-serif;
}
.home .maxwidth{
    margin:auto 0 auto 40px;
}
.home .homecontent .text1{
    font-size: 25px;
}
.home .homecontent .text2{
    font-size: 40px;
    font-weight: 600;
    margin-left: -3px;
}
.home .homecontent .text3{
    font-size: 30px;
    margin: 5px 0;
    font-weight: 300;
}
.home .homecontent .text3 span{
    color: rgb(72, 100, 138);
}

/* about section styling */
.aboutme{
    font-family: "Poppins", sans-serif;
    background-color: #e4e4e6;
    padding: 60px 0 0 0;
}
.aboutme .title{
    position: relative;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 20px;
    padding-bottom: 15px;
    font-family: "Ubuntu", sans-serif;
}
.aboutme .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 140px;
    height: 2px;
    background: rgb(0, 0, 0);
    transform: translateX(-50%);
}
.aboutme .title::after{
    content: "who I am";
    position: absolute;
    bottom: -10px;
    left: 50%;
    font-size: 15px;
    color:rgb(72, 100, 138);
    padding: 5px;
    background: #e4e4e6;
    transform: translateX(-50%);
}
.aboutmecontent{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.aboutmecontent img{
    height: 375px;
    width: 375px;
    border-radius: 1000px;
}
.aboutmecontent .aboutmetext{
    width: 55%;
}
.aboutmecontent .text{
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 15px;
}
.aboutmecontent .text span{
    color:rgb(72, 100, 138);
}
.aboutmecontent p{
    text-align: justify;
    font-weight: 350;
    margin-top: 10px;
    font-size: 20px;
}

/* skills section styling */
.skills{
    background-color: #e4e4e6;
    font-family: "Poppins", sans-serif;
    padding: 60px 0 0 0;
}
.skills .title{
    position: relative;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 15px;
    font-family: "Ubuntu", sans-serif;
}
.skills .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 140px;
    height: 2px;
    background: rgb(0, 0, 0);
    transform: translateX(-50%);
}
.skills .title::after{
    content: "what I can";
    position: absolute;
    bottom: -10px;
    left: 50%;
    font-size: 15px;
    color:rgb(72, 100, 138);
    padding: 5px;
    background: #e4e4e6;
    transform: translateX(-50%);
}
.skillscontent{
    display: flex;
    justify-content: space-between;
    width: 600px;
    margin: 0 auto;

}
.skillscontent .titles{
    font-size: 25px;
    text-align: center;
    font-weight: 400;
    margin-bottom: 10px;
}
.skillscontent .line{
    height: 2px;
    width: 50%;
    background: rgb(137, 161, 197);
    margin-left: 25%;
}
.skillscontent .bars{
    line-height: 40px;
    text-align: center;
    font-weight: 300;
    font-size: 20px;
    margin-top: 20px;
}

/* education section styling */

.education{
    background-color: #e4e4e6;
    font-family: "Poppins", sans-serif;
    padding: 60px 0;
}
.education .title{
    position: relative;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 15px;
    font-family: "Ubuntu", sans-serif;
}
.education .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 140px;
    height: 2px;
    background: rgb(0, 0, 0);
    transform: translateX(-50%);
}
.education .title::after{
    content: "knowledge";
    position: absolute;
    bottom: -10px;
    left: 50%;
    font-size: 15px;
    color:rgb(72, 100, 138);
    padding: 5px;
    background: #e4e4e6;
    transform: translateX(-50%);
}
.education .educationcontent{
    margin-bottom: 50px;
    font-weight: 300;
    line-height: 40px;
    font-size: 20px;
    text-align: justify;
    margin-left: 25%;
    margin-right: 25%;
}
.education .educationcontent b{
    font-weight: 400;
}

.english{
    background-color: #e4e4e6;
    font-family: "Poppins", sans-serif;
}
.levelEng{
    text-align: center;
}
.titleEnglish{
    position: relative;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 15px;
    font-family: "Ubuntu", sans-serif;
}
.titleEnglish::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 140px;
    height: 2px;
    background: rgb(0, 0, 0);
    transform: translateX(-50%);
}
.titleEnglish::after{
    content: "level";
    position: absolute;
    bottom: -12px;
    left: 50%;
    font-size: 15px;
    color:rgb(72, 100, 138);
    padding: 5px;
    background: #e4e4e6;
    transform: translateX(-50%);
}

/* contacts section styling */
.contacts{
    background-color: #e4e4e6;
    font-family: "Poppins", sans-serif;
    padding: 60px 0;
}
.contacts .title{
    position: relative;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 40px;
    padding-bottom: 15px;
    font-family: "Ubuntu", sans-serif;
    margin-top: -30px;
}
.contacts .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 140px;
    height: 2px;
    background: rgb(0, 0, 0);
    transform: translateX(-50%);
}
.contacts .title::after{
    content: "get in touch";
    position: absolute;
    bottom: -10px;
    left: 50%;
    font-size: 15px;
    color:rgb(72, 100, 138);
    padding: 5px;
    background: #e4e4e6;
    transform: translateX(-50%);
}
.contacts .contactscontent{
    display: flex;
    align-content: center;
    flex-flow: column wrap;
}
.contacts .contactscontent p{
    display: flex;
    align-items: center;
}
.contacts .contactscontent a{
    font-size: 17px;
    margin-left: 10px;
    font-family: "Poppins", sans-serif;
    color:black;
}
.contacts .contactscontent a:hover{
    color:rgb(72, 100, 138);
}


.cv-footer{
    background-color: rgb(137, 161, 197);
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: space-between;
    
}
.cv-footer a{
    color:black;
}

.cv-footer-item{
    padding: 15px;
}
.cv-footer-img {
    width: 100px;

}

@media screen and (max-width: 1000px) {
    .aboutme .aboutmecontent{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;  
    }
    .aboutme .aboutmecontent .right{
        width: 55%;
        margin-top: 30px;
    }
}

